<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gyógyszerkereső</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/adminStyle.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Szendrőlád</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/">Kezdőlap</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/admin">Bejegyzések
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/admin/adminReservedAppointments">Időpont menedzselés </a></li>
					<li class="nav-item active"><a class="navbar-brand"
						href="/admin/findMedicine">Gyógyszerkereső <span
							class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/admin/documents">Dokumentumok</a></li>
					<li class="nav-item"><a class="nav-link">
							<form th:action="@{/logout}" method="post">
								<input type="submit" id="logoutButton" value="Kijelentkezés" />
							</form>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Full Page Image Header with Vertically Centered Content -->
	<header class="masthead"> </header>

	<!-- Page Content -->
	<section class="py-5">
		<div class="container">
			<div class="col-xl-6 mx-auto text-center">
				<div class="text-center p-3">
					<h2 class="font-weight-light">Gyógyszerkereső</h2>
				</div>
				<form th:action="@{/admin/findMedicineByActiveIngredient}"
					method="post" th:object="${medicineDTO}">
					<div class="form-group row">
						<label for="activeIngredient" class="col-sm-2 col-form-label">Hatóanyag</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="activeIngredient"
								th:field="*{activeIngredient}">
						</div>
					</div>
					<button type="submit" class="btn btn-primary btn-lg btn-block">Keresés</button>
				</form>
			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer class="jumbotron text-center" style="margin-bottom: 0">

		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-3">

			<!-- Grid row -->
			<div class="row mt-3 dark-grey-text">

				<!-- Grid column -->
				<div class="col-md mb-3">

					<!-- Content -->
					<h6 class="text-uppercase font-weight-bold">Dr. Daher Chakib
						Pierre</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>háziorvos</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md mx-auto mb-3">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Hasznos linkek</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a class="dark-grey-text" href="https://www.mentok.hu/">Országos
							Mentőszolgálat</a>
					</p>
					<p>
						<a class="dark-grey-text" href="http://szendrolad.hu/">Szendrőlád
							Község honlapja</a>
					</p>
					<p>
						<a class="dark-grey-text"
							href="https://www.eeszt.gov.hu/hu/nyito-oldal">EESZT
							Lakossági Portál</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md mx-auto mb-3">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Elérhetőség</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>Rendelési idő: Hétfő - Péntek 8:00 - 12:00</p>
					<p>3751 Szendrőlád, Fő utca 63.</p>
					<p>+36 48 469 670</p>


				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->
		<!-- Copyright -->
		<p class="text-center">
			<a class="nav-link" href="/privacyNotice">Adatvédelmi tájékoztató</a>
		</p>
		<div class="text-center text-black-50 py-3">Készítette: Német
			Viktor</div>

		<!-- Copyright -->
	</footer>
	<!-- Footer -->
</body>
</html>