<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gyógyszerkereső</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
	color: red;
}

.masthead {
	height: 2vh;
}

#logoutButton {
	background-color: #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 6px;
	color: #fff;
	font-family: 'Oswald';
	font-size: 20px;
	text-decoration: none;
	cursor: poiner;
	border: none;
}

#logoutButton:hover {
	border: none;
	background: red;
	box-shadow: 0px 0px 1px #777;
}
</style>
</head>
<body>
	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Szendrőlád</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/">Kezdőlap</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/admin">Bejegyzések
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/admin/adminReservedAppointments">Időpont menedzselés </a></li>
					<li class="nav-item"><a class="navbar-brand" href="findMedicine">Gyógyszerkereső
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Dokumentumok</a>
					</li>
					<li class="nav-item"><a class="nav-link">
							<form th:action="@{/logout}" method="post">
								<input type="submit" id="logoutButton" value="Kijelentkezés" />
							</form>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Full Page Image Header with Vertically Centered Content -->
	<header class="masthead"> </header>

	<!-- Page Content -->
	<section class="py-5">
		<div class="container">
		<h2 class="font-weight-light" style="text-align:center"><b th:text="${activeIngredient}"></b> hatóanyagra talált gyógyszerek listája</h2>
         <div class="table-responsive-sm">
            <table class="table text-center">
               <thead class="thead-dark">
                  <tr>
                     <th scope="col">Név</th>
                     <th scope="col">Hatóanyag</th>
                     <th scope="col">Vényköteles</th>
                  </tr>
               </thead>
               <tbody>
                  <tr th:each="medicine: ${medicines}">
                     <td><a th:text="${medicine.name}"></a></td>
                     <td><a th:text="${medicine.activeIngredient}"></a></td>
                     <td><i class="bi bi-x-circle" th:unless="${medicine.prescription}"></i><i class="bi bi-check-circle" th:if="${medicine.prescription}"></i></td>
                     <!-- >td><a th:text="${medicine.prescription}"></a></td-->
                  </tr>
               </tbody>
            </table>
         </div>
		</div>
	</section>
	<div class="jumbotron text-center" style="margin-bottom: 0">
		<p>Footer</p>
	</div>
</body>
</html>