<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Időpont menedzselés</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <style>
         .masthead {
         height: 2vh;
         }
         #logoutButton {
         background-color: #ccc;
         -moz-border-radius: 5px;
         -webkit-border-radius: 5px;
         border-radius:6px;
         color: #fff;
         font-family: 'Oswald';
         font-size: 20px;
         text-decoration: none;
         cursor: poiner;
         border:none;
         }
         #logoutButton:hover {
         border: none;
         background:red;
         box-shadow: 0px 0px 1px #777;
         }
         .center {
         margin: auto;
         text-align: center;
         margin-left: auto;
         margin-right: auto;
         width: 60%;
         padding: 10px;
         }
         .td {
         text-align: center;
         }
      </style>
   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
         <div class="container">
            <a class="navbar-brand" href="#">Szendrőlád</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Kezdőlap
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/admin">Bejegyzések</a>
                  </li>
                  <li class="nav-item">
                     <a class="navbar-brand" href="#">Időpont menedzselés
                     <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Receptírás</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Dokumentumok</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link">
                        <form th:action="@{/logout}" method="post">
                           <input type="submit" id="logoutButton" value="Kijelentkezés" />
                        </form>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- Full Page Image Header with Vertically Centered Content -->
      <header class="masthead">
      </header>
      <!-- Page Content -->
      <section class="py-5">
         <div class="container">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center">
               <div class="p-3"><i class="fa fa-calendar fa-5x"></i></div>
               <form class="justify-content-center" th:action="@{adminReservedAppointments}" method="post" th:object="${appointmentDTO}">
                  <div class="form-group row">
                     <h3>Melyik napot szeretné lekérdezni?</h3>
                  </div>
                  <div class="form-group row" >
                     <input type="date" name="date" th:value="${date}" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Lekérdezés</button>
               </form>
            </div>
            <hr>
         </div>
      </section>
      <div class="container">
         <h2 class="font-weight-light" style="text-align:center"><a th:text="${#dates.format(date, 'yyyy.MM.dd.')}"></a> napra lefoglalt időpontok</h2>
         <div class="table-responsive-sm">
            <table class="table text-center">
               <thead class="thead-dark">
                  <tr>
                     <th scope="col">Időpont</th>
                     <th scope="col">Vezetéknév</th>
                     <th scope="col">Keresztnév</th>
                     <th scope="col">TAJ szám</th>
                     <th scope="col">Születési idő</th>
                     <th scope="col">Telefonszám</th>
                     <th scope="col">Módosítás</th>
                     <th scope="col">Törlés</th>
                  </tr>
               </thead>
               <tbody>
                  <tr th:each="appointment,iterStat : ${appointments}">
                     <td><a th:text="${appointment.time}"></a></td>
                     <td><a th:text="${patients[iterStat.index].lastName}"></a></td>
                     <td><a th:text="${patients[iterStat.index].firstName}"></a></td>
                     <td><a th:text="${patients[iterStat.index].socialSecurityNumber}"></a></td>
                     <td><a th:text="${patients[iterStat.index].dateOfBirth}"></a></td>
                     <td><a th:text="${patients[iterStat.index].phoneNumber}"></a></td>
                     <td><a th:href="@{/admin/modify(id=${appointment.idAppointment})}" class="btn btn-primary">Módosítás</a></td>
                     <td><a th:href="@{/delete(id=${appointment.idAppointment})}" class="btn btn-danger">Időpont törlése</a></td>
                     <!-- th:href="@{/delete(id=${user.id})}" -->
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="jumbotron text-center" style="margin-bottom:0">
         <p>Footer</p>
      </div>
   </body>
</html>