<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Foglalás</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
.masthead {
	height: 2vh;
}
</style>
</head>
<body>
	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Szendrőlád</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/">Kezdőlap
					</a></li>
					<li class="nav-item active"><a class="nav-link" href="#">Foglalás
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Rendelő</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Kapcsolat</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Full Page Image Header with Vertically Centered Content -->
	<header class="masthead"> </header>
	<!-- Page Content -->
	<section class="py-5">
		<div class="container">
			<div class="col-xl-10 mx-auto text-center">
				<h2 class="font-weight-light" style="text-align: center">
					<b th:text="${#dates.format(appointmentDTO.date, 'yyyy.MM.dd.')}"></b>
					<b th:text="${appointmentDTO.time}"></b> időpont foglalása
				</h2>
				<form th:action="@{/reserveAppointment(date=${date},time=${time})}"
					method="post">
					<div class="form-group row">
						<label for="lastName" class="col-sm-2 col-form-label">Vezetéknév</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="lastName"
								th:value="${patientDTO.lastName}"
								th:classappend="${#fields.hasErrors('patientDTO.lastName')} ? is-invalid">
							<div class="text-danger"
								th:if="${#fields.hasErrors('patientDTO.lastName')}"
								th:errors="*{patientDTO.lastName}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="firstName" class="col-sm-2 col-form-label">Keresztnév</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="firstName"
								th:value="${patientDTO.firstName}"
								th:classappend="${#fields.hasErrors('patientDTO.firstName')} ? is-invalid">
							<div class="text-danger"
								th:if="${#fields.hasErrors('patientDTO.firstName')}"
								th:errors="*{patientDTO.firstName}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="socialSecurityNumber" class="col-sm-2 col-form-label">TAJ
							szám</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								name="socialSecurityNumber"
								th:value="${patientDTO.socialSecurityNumber}"
								th:classappend="${#fields.hasErrors('patientDTO.socialSecurityNumber')} ? is-invalid">
							<small class="text-muted">Például: 123456789</small>
							<div class="text-danger"
								th:if="${#fields.hasErrors('patientDTO.socialSecurityNumber')}"
								th:errors="*{patientDTO.socialSecurityNumber}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="dateOfBirth" class="col-sm-2 col-form-label">Születési
							idő</label>
						<div class="col-sm-10">
							<input type="date" id="dateOfBirth" name="dateOfBirth"
								th:value="${dateOfBirth}" min="1990-01-01" th:max=${maxDate}
								class="form-control"
								th:classappend="${#fields.hasErrors('patientDTO.dateOfBirth')} ? is-invalid">
							<small class="text-muted">Például: 1998.09.18.</small>
							<div class="text-danger"
								th:if="${#fields.hasErrors('patientDTO.dateOfBirth')}"
								th:errors="*{patientDTO.dateOfBirth}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label for="phoneNumber" class="col-sm-2 col-form-label">Mobiltelefonszám</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="phoneNumber"
								th:value="${patientDTO.phoneNumber}"
								th:classappend="${#fields.hasErrors('patientDTO.phoneNumber')} ? is-invalid">
							<small class="text-muted">Például: 06-70/1234-567</small>
							<div class="text-danger"
								th:if="${#fields.hasErrors('patientDTO.phoneNumber')}"
								th:errors="*{patientDTO.phoneNumber}"></div>
						</div>
					</div>



					<div class="form-check">
						<input type="checkbox" class="form-check-input" name="agreeGDPR"
							th:value="true"> <label for="agreeGDPR"
							class="form-check-label">Megismertem és elfogadom az
							adatvédelmi tájékoztatóban foglaltakat.</label>
						<div class="text-danger"
							th:if="${#fields.hasErrors('patientDTO.agreeGDPR')}"
							th:errors="*{patientDTO.agreeGDPR}"></div>
					</div>
					<button type="submit" class="btn btn-primary btn-lg btn-block">Foglalás</button>
				</form>
			</div>
		</div>
	</section>
	<div class="jumbotron text-center" style="margin-bottom: 0">
		<p>Footer</p>
	</div>
</body>
</html>