<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Rendelő</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/defaultStyle.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
</style>
</head>
<body>
	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Szendrőlád</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/">Kezdőlap
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/booking">Időpontfoglalás</a></li>
					<li class="nav-item"><a class="nav-link" href="/surgery">Rendelő
					</a></li>
					<li class="nav-item-active"><a class="navbar-brand"
						href="/contact">Kapcsolat<span class="sr-only">(current)</span></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Full Page Image Header with Vertically Centered Content -->
	<header class="masthead"> </header>
	<!-- Page Content -->
	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-sm text-center">
					<h3>Háziorvosi rendeléssel kapcsolatos alapinformációk:</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm font-weight-bold text-right">Ellátást végző
					orvos neve:</div>
				<div class="col-sm text-left">Dr. Daher Chakib Pierre
					háziorvos</div>
			</div>
			<div class="row">
				<div class="col-sm font-weight-bold text-right">Rendelő
					telefonszáma:</div>
				<div class="col-sm text-left">+36 48 469 670</div>
			</div>
			<div class="row">
				<div class="col-sm font-weight-bold text-right">Rendelő címe:</div>
				<div class="col-sm text-left">3751 Szendrőlád, Fő utca 63.</div>
			</div>
			<div class="row">
				<div class="col-sm font-weight-bold text-right">Rendelési idő:</div>
				<div class="col-sm text-left">Hétfő - Péntek 8.00-12.00</div>
			</div>
			<div class="row">
				<div class="col-sm font-weight-bold text-danger text-center">Rendelési
					időn kívül súlyos esetben kérjük, hogy hívja az orvosi ügyeletet
					vagy a mentőket!</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm text-center">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5972.45257793743!2d20.739248373150456!3d48.343653618405824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473f6e23a3bdf713%3A0xc813212e7627c2c3!2zU3plbmRyxZFsw6FkLCBGxZEgw7p0IDYzLCAzNzUx!5e1!3m2!1shu!2shu!4v1637492492829!5m2!1shu!2shu"
						width="600" height="450" style="border: 0;" allowfullscreen=""
						loading="lazy"></iframe>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer class="jumbotron text-center" style="margin-bottom: 0">

		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-3">

			<!-- Grid row -->
			<div class="row mt-3 dark-grey-text">

				<!-- Grid column -->
				<div class="col-md mb-3">

					<!-- Content -->
					<h6 class="text-uppercase font-weight-bold">Dr. Daher Chakib
						Pierre</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>háziorvos</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md mx-auto mb-3">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Hasznos linkek</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a class="dark-grey-text" href="https://www.mentok.hu/">Országos
							Mentőszolgálat</a>
					</p>
					<p>
						<a class="dark-grey-text" href="http://szendrolad.hu/">Szendrőlád
							Község honlapja</a>
					</p>
					<p>
						<a class="dark-grey-text"
							href="https://www.eeszt.gov.hu/hu/nyito-oldal">EESZT
							Lakossági Portál</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md mx-auto mb-3">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Elérhetőség</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>Rendelési idő: Hétfő - Péntek 8:00 - 12:00</p>
					<p>3751 Szendrőlád, Fő utca 63.</p>
					<p>+36 48 469 670</p>


				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->
		<!-- Copyright -->
		<p class="text-center">
			<a class="nav-link" href="/privacyNotice">Adatvédelmi tájékoztató</a>
		</p>
		<div class="text-center text-black-50 py-3">Készítette: Német
			Viktor</div>

		<!-- Copyright -->
	</footer>
	<!-- Footer -->

</body>

</html>