<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Kezdőlap</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
.fakeimg {
	height: 200px;
	background: #aaa;
}

.masthead {
	height: 100vh;
	min-height: 500px;
	background-image: url('/img/headerimage.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
</style>
</head>
<body>
	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Szendrőlád</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Kezdőlap
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="booking">Foglalás</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Rendelő</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Kapcsolat</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Full Page Image Header with Vertically Centered Content -->
	<header class="masthead">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-12 text-center">
					<h1 class="text-light font-weight-bold">Dr. Daher Chakib
						Pierre</h1>
					<p class="text-light lead">háziorvos</p>
				</div>
			</div>
		</div>
	</header>
	<!-- Page Content -->
	<section class="py-5">
		<div class="container">
			<h2 class="font-weight-light">Bemutatkozás</h2>
			<div>Dr. Daher Chakib Pierre vagyok, háziorvos. 1960-ban
				születtem Libanonban. Orvosi diplomámat 1989-ben a Semmelweis
				Egyetemen szereztem. Immáron 24 éve, 1996-tól praktizálok
				háziorvosként Szendrőládon. A háziorvosi ellátás nem más mint, az
				egészségügyi ellátásra jogosultak számára a lakóhelyén, vagy annak
				közelében, nemtől, kortól és betegség természetéből függetlenül
				egészségügyi ellátást kapjanak.</div>
			<hr>
		</div>
	</section>
	<div class="container" style="margin-top: 30px" th:each="news: ${news}">
		<div class="row justify-content-md-center">
			<div class="col-sm">
				<h2 th:text="${news.title}" />
				<p class="float-right"
					th:text="${#dates.format(news.date, 'yyyy.MM.dd.')}" />
				<p th:text="${news.description}" />
				<hr>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="jumbotron text-center" style="margin-bottom: 0">

		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-3">

			<!-- Grid row -->
			<div class="row mt-3 dark-grey-text">

				<!-- Grid column -->
				<div class="col-md mb-3">

					<!-- Content -->
					<h6 class="text-uppercase font-weight-bold">Dr. Daher Chakib
						Pierre</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>háziorvos</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md mx-auto mb-3">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Hasznos linkek</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a class="dark-grey-text" href="https://www.mentok.hu/">Országos
							Mentőszolgálat</a>
					</p>
					<p>
						<a class="dark-grey-text" href="http://szendrolad.hu/">Szendrőlád
							Község honlapja</a>
					</p>


				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md mx-auto mb-3">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Elérhetőség</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<i class="dark-grey-text"></i>3751 Szendrőlád, Fő utca 63.
					</p>
					<p>
						<i class="dark-grey-text"></i>+36 48 469 670
					</p>


				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->
		<!-- Copyright -->
		<div class="footer-copyright text-center text-black-50 py-3">
			Készítette: Német Viktor</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
</body>
</html>