<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Adatvédelmi nyilatkozat</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/defaultStyle.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Szendrőlád</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/">Kezdőlap
					</a></li>
					<li class="nav-item "><a class="nav-link" href="/booking">Időpontfoglalás
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/surgery">Rendelő</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/contact">Kapcsolat</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Full Page Image Header with Vertically Centered Content -->
	<header class="masthead"> </header>
	<!-- Page Content -->
	<section class="py-5">
		<div class="container">
			<div class="text-center">
				<h2>Adatvédelmi nyilatkozat</h2>
			</div>
			<p class="font-weight-bold">1. Általános rendelkezések és
				elérhetőségek</p>
			<p>A jelen tájékoztató (“Tájékoztató”) a Szendrőládi háziorvosi
				praxis által kezelt, azonosított vagy azonosítható természetes
				személyre (érintett) vonatkozó bármely információ (személyes adat)
				kezelésére vonatkozik.</p>
			<p>Szendrőládi háziorvosi praxis a GDPR rendelkezéseit 2018.
				május 25-től köteles alkalmazni.</p>
			<p>Szendrőládi háziorvosi praxis címe: 3751 Szendrőlád, Fő utca
				63.</p>
			<p>Szendrőládi háziorvosi praxis telefonszáma: +36 48 469 670</p>
			<p>Ha Önnek bármilyen kérdése vagy észrevétele van ezzel a
				Tájékoztatóval kapcsolatban, mielőtt használná a weboldalt, vagy
				valamilyen adatot a jelen Tájékoztató szerint átadna, kérjük lépjen
				kapcsolatba Szendrőládi háziorvosi praxis-al a fenti elérhetőségek
				valamelyikén.</p>
			<p class="font-weight-bold">2. A Tájékoztató frissítése és
				elérhetősége</p>
			<p>Szendrőládi háziorvosi praxis fenntartja a jogot, hogy a jelen
				Tájékoztatót egyoldalúan, a módosítást követő hatállyal módosítsa.
				Erre tekintettel ajánlott rendszeresen látogatni a weboldalt abból a
				célból, hogy figyelemmel kísérhesse a változásokat. Kérésére átadjuk
				Önnek a mindenkor hatályos Tájékoztatót nyomtatott formában.</p>
			<p class="font-weight-bold">3. A Tájékoztató megismerése és
				elfogadása</p>
			<p>A személyes adat rendelkezésre bocsátásával Ön megerősíti,
				hogy a Tájékoztatónak az adat rendelkezésre bocsátásának
				időpontjában hatályos változatát megismerte és kifejezetten
				elfogadja. Egyes külön szolgáltatások igénybevétele során specifikus
				adatvédelmi feltételek is alkalmazandók lehetnek, melyekről Ön az
				adott szolgáltatás igénybevétele előtt kaphat tájékoztatást.</p>
			<p class="font-weight-bold">4. A kezelt adatok köre és
				adatkezelési célok</p>
			<p>Szendrőládi háziorvosi praxis által kezelt személyes adatok
				köre, az adatkezelési célok, valamint az adatkezelés időtartama és
				az adatokhoz való hozzáférésre jogosultak köre a táblázatban kerül
				bemutatásra.</p>
			<p class="font-weight-bold">5. Személyes adatok átadása
				szerződéses partnereinknek</p>
			<p>Szendrőládi háziorvosi praxis az adatkezelési műveletekhez
				kapcsolódó feladatok elvégzésére az alábbi szerződéses partnereket
				veszi igénybe. A szerződéses partner úgynevezett
				“adatfeldolgozóként” jár el: az adatok felhasználásával kapcsolatos
				jogait és kötelezettségeit Szendrőládi háziorvosi praxis határozza
				meg, és az adatkezelést érintő érdemi döntést nem hozhat. Az
				adatokat nem dolgozhatja fel saját céljára, továbbá a személyes
				adatokat Szendrőládi háziorvosi praxis rendelkezései szerint köteles
				tárolni és megőrizni.</p>
			<p class="font-weight-bold">6. A weboldalon felhasznált sütik</p>
			<p>A weboldal bizonyos területein használunk sütiket (cookiekat).
				A sütik olyan fájlok, melyek információt tárolnak az Ön merevlemezén
				vagy webes keresőjén.</p>
			<p>A sütik például lehetővé teszik a weboldal számára, hogy
				felismerje, ha Ön korábban azt már meglátogatta, vagy segítenek
				nekünk megérteni, hogy a weboldal melyik része a legnépszerűbb, mert
				látni engedik, hogy látogatóink mely oldalakra lépnek be és mennyi
				időt töltenek ott. Ennek tanulmányozásával a weboldalt jobban tudjuk
				igazítani az Ön igényeihez, és még változatosabb felhasználói
				élményt tudunk nyújtani Önnek. A sütik segítségével biztosítani
				tudjuk azt is, hogy az Ön következő látogatása alkalmával megjelenő
				információk meg fognak felelni az Ön felhasználói elvárásainak.</p>
			<p>Mikor Ön felkeresi valamely weboldalunkat, sor kerülhet olyan
				technikai információk automatikus gyűjtésére is, melyekből az Ön
				személye nem azonosítható. Például egy olyan másik weboldal neve,
				mely Önt erre a weboldalra irányította, a weboldalhoz való
				hozzáférés helyszíne, a weboldalon végzett keresések. Ezen
				információk gyűjtése segítséget nyújt számunkra a weboldalunk
				felhasználói által preferált keresési szokások személyes adatok
				felhasználása nélkül történő felismerésében. Ezen információk
				kizárólag belsőleg kerülnek felhasználásra. A névtelen vagy
				általános jellegű adatok, melyekből az Ön személye nem azonosítható,
				nem minősülnek személyes adatnak, így nem tartoznak ezen Tájékoztató
				hatálya alá.</p>
			<p>Ön beállíthatja webes keresőjét, hogy elfogadjon minden sütit,
				elutasítsa mindet, vagy értesítse Önt, ha süti érkezik az Ön gépére.
				Mindegyik webes kereső különböző, így kérjük használja keresője
				“Segítség” menüjét a sütik beállításainak módosításához. A sütik
				természetével, valamint kikapcsolásukkal kapcsolatos további
				információt a http://www.youronlinechoices.com/hu/ oldalon talál. A
				weboldal a sütik használatával történő működésre készült, így azok
				kikapcsolása hatással lehet a weboldal használhatóságára, és
				megakadályozhatja, hogy Ön annak minden előnyét kihasználja.</p>
			<p>A leggyakrabban használt böngészők esetében a sütik kezelésére
				vonatkozó menüpontok:</p>
			<p>Google Chrome:
				https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en</p>
			<p>Mozilla Firefox:
				https://support.mozilla.org/t5/Cookies-and-cache/Enable-and-disable-cookies-that-websites-use-to-track-your/ta-p/2784</p>
			<p>Edge / Internet Explorer:
				https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies</p>
			<p>Opera: http://help.opera.com/Windows/10.00/hu/cookies.html</p>
			<p>Safari: https://support.apple.com/kb/PH17191</p>
			<p>A Google Analytics további lehetőségeket biztosít a Google
				Analytics szolgáltatásokról való leiratkozáshoz:
				http://tools.google.com/dlpage/gaoptout?hl=en-GB.</p>
			<p class="font-weight-bold">7. Gyermekekkel és harmadik
				személyekkel kapcsolatos személyes adatok</p>
			<p>16. éven aluli személyek nem adhatnak meg magukról személyes
				adatot, kivéve, ha szülőktől ehhez engedélyt kértek.</p>
			<p>Személyes adatok rendelkezésre bocsátásával Ön kijelenti és
				szavatolja, hogy a fentiekre figyelemmel jár el, cselekvőképessége
				az információk rendelkezésre bocsátásával kapcsolatban nem
				korlátozott.</p>
			<p>Amennyiben Ön bármely személyes adat rendelkezésre bocsátására
				jogilag önállóan nem jogosult, Ön köteles az érintett harmadik
				személyek (pl. törvényes képviselő, gondnok, egyéb személy, akinek a
				nevében eljár) beleegyezését megszerezni, vagy az adatok
				rendelkezésre bocsátásához más jogalapot biztosítani. Ezzel
				összefüggésben Ön köteles mérlegelni, hogy az adott személyes adat
				rendelkezésre bocsátásával összefüggésben szükség van-e valamely
				harmadik személy hozzájárulására. Előfordulhat, hogy Szendrőládi
				háziorvosi praxis valamely érintett személlyel személyes kapcsolatba
				nem kerül, így a jelen pontnak való megfelelést Ön köteles
				biztosítani, és Szendrőládi háziorvosi praxis -t ezzel
				összefüggésben felelősség nem terheli. Ettől függetlenül,
				Szendrőládi háziorvosi praxis mindenkor jogosult ellenőrizni, hogy
				valamely személyes adat kezelésére a megfelelő jogalap rendelkezésre
				áll-e. Például, ha Ön harmadik személy nevében jár el, jogosultak
				vagyunk kérni az Ön meghatalmazását és/vagy az érintett személy
				megfelelő adatkezelési hozzájárulását az adott ügyre vonatkozóan.</p>
			<p>Minden ésszerű erőfeszítést megteszünk annak érdekében, hogy
				töröljünk valamennyi információt, amely jogosulatlanul bocsátottak
				rendelkezésünkre, és biztosítjuk, hogy ezen információ más számára
				nem kerül továbbításra, sem általunk történő felhasználásra (sem
				reklámozási, sem egyéb célból). Kérjük, közölje velünk
				haladéktalanul, ha azt tapasztalja, hogy egy gyermek önmagáról, vagy
				egy harmadik személy Önről jogosulatlanul bocsátott rendelkezésre
				személyes adatot. A Tájékoztató elején kiemelt elérhetőségeinken
				léphet kapcsolatba velünk.</p>
			<p class="font-weight-bold">8. Adatbiztonsági intézkedések</p>
			<p>Szendrőládi háziorvosi praxis az általa kezelt személyes
				adatokat az információkhoz való hozzáférés korlátozásával védi.
				Például csak azon személyek férhetnek hozzá az adatokhoz, akik
				számára az a fent említett célok elérése érdekében szükséges.</p>
			<p class="font-weight-bold">9. Az Ön adatvédelmi jogai és
				jogorvoslati lehetőségei</p>
			<p>Ön kérelmezheti tőlünk: (a) tájékoztatását személyes adatai
				kezeléséről, (b) személyes adatainak helyesbítését, valamint (c)
				személyes adatainak – a kötelező adatkezelés kivételével – törlését
				vagy zárolását. Szendrőládi háziorvosi praxis köteles a kérelem
				benyújtásától számított legrövidebb idő alatt, legfeljebb azonban 25
				napon belül, közérthető formában, az Ön erre irányuló kérelmére
				írásban megadni a tájékoztatást.</p>
			<p>Ha az Ön helyesbítés, zárolás vagy törlés iránti kérelmét nem
				teljesítjük, a kérelem kézhezvételét követő 25 napon belül írásban
				vagy az érintett hozzájárulásával elektronikus úton közöljük a
				helyesbítés, zárolás vagy törlés iránti kérelem elutasításának
				ténybeli és jogi indokait.</p>
			<p>Az az információs önrendelkezési jogról és az
				információszabadságról szóló 2011. évi CXII. törvény (“Infotv.”) 21.
				§-ban meghatározott esetekben Ön tiltakozhat személyes adatainak
				kezelése ellen. Szendrőládi háziorvosi praxis a tiltakozást a
				kérelem benyújtásától számított legrövidebb időn belül, de
				legfeljebb 15 napon belül megvizsgálja, annak megalapozottsága
				kérdésében döntést hoz, és döntéséről Önt írásban tájékoztatjuk.</p>
			<p>Ön a jogainak megsértése esetén bírósághoz fordulhat. A per –
				az Ön választása szerint – az Ön lakóhelye vagy tartózkodási helye
				szerinti törvényszék előtt is megindítható.</p>
			<p>A Nemzeti Adatvédelmi és Információszabadság Hatóságnál
				(http://naih.hu/; 1530 Budapest, Pf.: 5.; telefon: +36-1-391-1400;
				fax: +36-1-391-1410; e-mail: ugyfelszolgalat@naih.hu) bejelentéssel
				bárki vizsgálatot kezdeményezhet arra hivatkozással, hogy személyes
				adatok kezelésével kapcsolatban jogsérelem következett be, vagy
				annak közvetlen veszélye fennáll.</p>
			<p>Az adatkezeléssel kapcsolatos részletes jogokat és
				jogorvoslati lehetőségeket részletesen az Infotv. 13-17. és 30.
				alfejezetei tartalmazzák.</p>
			<p>Valamely eljárás kezdeményezése előtt célszerű lehet
				Szendrőládi háziorvosi praxisnak mint adatkezelőnek elküldeni a
				panaszt.</p>
			<p class="font-weight-bold">10. Adatvédelmi jogok és
				jogorvoslatok</p>
			<p>2018. május 25-ét követően az Ön adatvédelmi jogait és
				jogorvoslati lehetőségeit, és ezzel kapcsolatban a GDPR vonatkozó
				rendelkezéseit és korlátozásait részletesen a GDPR tartalmazza (így
				különösen a GDPR 15., 16., 17., 18., 19., 20., 21., 22., 77., 78.,
				79. és 82. cikkei). Az alábbiakban összefoglaljuk a legfontosabb
				rendelkezéseket.</p>
			<p class="font-weight-bold">10.1 Az Ön hozzáférési joga</p>
			<p>(1) Ön jogosult arra, hogy visszajelzést kapjon tőlünk arra
				vonatkozóan, hogy személyes adatainak kezelése folyamatban van-e. Ha
				ilyen adatkezelés folyamatban van, Ön jogosult arra, hogy a
				személyes adatokhoz és a következő információkhoz hozzáférést
				kapjon:</p>
			<p>a) az adatkezelés céljai;</p>
			<p>b) az érintett személyes adatok kategóriái;</p>
			<p>c) azon címzettek vagy címzettek kategóriái, akikkel a
				személyes adatokat közöltük vagy közölni fogjuk, ideértve különösen
				a harmadik országbeli címzetteket, illetve a nemzetközi
				szervezeteket;</p>
			<p>d) adott esetben a személyes adatok tárolásának tervezett
				időtartama, vagy ha ez nem lehetséges, ezen időtartam
				meghatározásának szempontjai;</p>
			<p>e) az Ön joga joga, hogy kérelmezheti tőlünk az Önre vonatkozó
				személyes adatok helyesbítését, törlését vagy kezelésének
				korlátozását, és tiltakozhat az ilyen személyes adatok kezelése
				ellen;</p>
			<p>f) valamely felügyeleti hatósághoz címzett panasz
				benyújtásának joga; és</p>
			<p>g) ha az adatokat nem Öntől gyűjtötték, a forrásukra vonatkozó
				minden elérhető információ;</p>
			<p>h) automatizált döntéshozatal ténye, ideértve a profilalkotást
				is, valamint legalább ezekben az esetekben az alkalmazott logikára
				és arra vonatkozó érthető információk, hogy az ilyen adatkezelés
				milyen jelentőséggel bír, és az Önre nézve milyen várható
				következményekkel jár.</p>
			<p>(2) Ha személyes adatoknak harmadik országba történő
				továbbítására kerül sor, Ön jogosult arra, hogy tájékoztatást kapjon
				a továbbításra vonatkozóan a megfelelő garanciákról.</p>
			<p>(3) Az adatkezelés tárgyát képező személyes adatok másolatát
				az Ön rendelkezésére bocsátjuk. Ha Ön elektronikus úton nyújtotta be
				a kérelmet, az információkat széles körben használt elektronikus
				formátumban kell rendelkezésre bocsátani, kivéve, ha Ön másként
				kéri.</p>
			<p class="font-weight-bold">10.2 A helyesbítéshez való jog</p>
			<p>Ön jogosult arra, hogy kérésére indokolatlan késedelem nélkül
				helyesbítsük az Önre vonatkozó pontatlan személyes adatokat. Ön
				jogosult arra, hogy kérje a hiányos személyes adatok – egyebek
				mellett kiegészítő nyilatkozat útján történő – kiegészítését.</p>
			<p class="font-weight-bold">10.3 A törléshez való jog (“az
				elfeledtetéshez való jog”)</p>
			<p>(1) Ön jogosult arra, hogy kérésére indokolatlan késedelem
				nélkül töröljük az Önre vonatkozó személyes adatokat, ha az alábbi
				indokok valamelyike fennáll:</p>
			<p>a) a személyes adatokra már nincs szükség abból a célból,
				amelyből azokat gyűjtöttük vagy más módon kezeltük;</p>
			<p>b) Ön visszavonja az adatkezelés alapját képező
				hozzájárulását, és az adatkezelésnek nincs más jogalapja;</p>
			<p>c) Ön tiltakozik az adatkezelése ellen, és adott esetben nincs
				elsőbbséget élvező jogszerű ok az adatkezelésre;</p>
			<p>d) a személyes adatokat jogellenesen kezeltük;</p>
			<p>e) a személyes adatokat a ránk alkalmazandó uniós vagy
				tagállami jogban előírt jogi kötelezettség teljesítéséhez törölni
				kell; vagy</p>
			<p>f) a személyes adatok gyűjtésére információs társadalommal
				összefüggő szolgáltatások kínálásával kapcsolatosan került sor.</p>
			<p>(2) Ha Szendrőládi háziorvosi praxis nyilvánosságra hozta a
				személyes adatot, és az (1) bekezdés értelmében azt törölni köteles,
				az elérhető technológia és a megvalósítás költségeinek
				figyelembevételével megteszi az észszerűen elvárható lépéseket –
				ideértve technikai intézkedéseket – annak érdekében, hogy
				tájékoztassa az adatokat kezelő adatkezelőket, hogy az érintett
				kérelmezte tőlük a szóban forgó személyes adatokra mutató linkek
				vagy e személyes adatok másolatának, illetve másodpéldányának
				törlését.</p>
			<p>(3) Az (1) és (2) bekezdés nem alkalmazandó, amennyiben az
				adatkezelés szükséges, többek között:</p>
			<p>a) a véleménynyilvánítás szabadságához és a tájékozódáshoz
				való jog gyakorlása céljából;</p>
			<p>b) a személyes adatok kezelését előíró, a ránk alkalmazandó
				uniós vagy tagállami jog szerinti kötelezettség teljesítése
				céljából;</p>
			<p>c) a közérdekű archiválás céljából, tudományos és történelmi
				kutatási célból vagy statisztikai célból, amennyiben az (1)
				bekezdésben említett jog valószínűsíthetően lehetetlenné tenné vagy
				komolyan veszélyeztetné ezt az adatkezelést; vagy</p>
			<p>d) jogi igények előterjesztéséhez, érvényesítéséhez, illetve
				védelméhez.</p>
			<p class="font-weight-bold">10.4 Az adatkezelés korlátozásához
				való jog</p>
			<p>(1) Ön jogosult arra, hogy kérésére korlátozzuk az
				adatkezelést, ha az alábbiak valamelyike teljesül:</p>
			<p>a) Ön vitatja a személyes adatok pontosságát, ez esetben a
				korlátozás arra az időtartamra vonatkozik, amely lehetővé teszi,
				hogy ellenőrizzük a személyes adatok pontosságát; b) az adatkezelés
				jogellenes, és Ön ellenzi az adatok törlését, és ehelyett kéri azok
				felhasználásának korlátozását; c) már nincs szükségünk a személyes
				adatokra adatkezelés céljából, de Ön igényli azokat jogi igények
				előterjesztéséhez, érvényesítéséhez vagy védelméhez; vagy d) Ön
				tiltakozott az adatkezelés ellen; ez esetben a korlátozás arra az
				időtartamra vonatkozik, amíg megállapításra nem kerül, hogy
				Szendrőládi háziorvosi praxis jogos indokai elsőbbséget élveznek-e
				az érintett jogos indokaival szemben.</p>
			<p>(2) Ha az adatkezelés az (1) bekezdés alapján korlátozás alá
				esik, az ilyen személyes adatokat a tárolás kivételével csak az Ön
				hozzájárulásával, vagy jogi igények előterjesztéséhez,
				érvényesítéséhez vagy védelméhez, vagy más természetes vagy jogi
				személy jogainak védelme érdekében, vagy az Unió, illetve valamely
				tagállam fontos közérdekéből lehet kezelni.</p>
			<p>(3) Az adatkezelés korlátozásának feloldásáról előzetesen
				tájékoztatjuk Önt.</p>
			<p class="font-weight-bold">10.5 A személyes adatok
				helyesbítéséhez vagy törléséhez, illetve az adatkezelés
				korlátozásához kapcsolódó értesítési kötelezettség</p>
			<p>Szendrőládi háziorvosi praxis minden olyan címzettet
				tájékoztat valamennyi helyesbítésről, törlésről vagy
				adatkezelés-korlátozásról, akivel, illetve amellyel a személyes
				adatot közöltük, kivéve, ha ez lehetetlennek bizonyul, vagy
				aránytalanul nagy erőfeszítést igényel. Az Ön kérésére tájékoztatjuk
				e címzettekről.</p>
			<p class="font-weight-bold">10.6 Az adathordozhatósághoz való jog</p>
			<p>(1) Ön jogosult arra, hogy az Önre vonatkozó, általa a
				rendelkezésünkre bocsátott személyes adatokat tagolt, széles körben
				használt, géppel olvasható formátumban megkapja, továbbá jogosult
				arra, hogy ezeket az adatokat egy másik adatkezelőnek továbbítsa
				anélkül, hogy ezt akadályozná Szendrőládi háziorvosi praxis, ha:</p>
			<p>a) az adatkezelés hozzájáruláson, vagy szerződésen alapul; és
				b) az adatkezelés automatizált módon történik.</p>
			<p>(2) Az adatok hordozhatóságához való jog (1) bekezdés szerinti
				gyakorlása során Ön jogosult arra, hogy – ha ez technikailag
				megvalósítható – kérje a személyes adatok adatkezelők közötti
				közvetlen továbbítását.</p>
			<p class="font-weight-bold">10.7 A tiltakozáshoz való jog</p>
			<p>(1) Ön jogosult arra, hogy a saját helyzetével kapcsolatos
				okokból bármikor tiltakozzon személyes adatainak jogos érdeken
				alapuló kezelése ellen, ideértve profilalkotást is. Ebben az esetben
				a személyes adatokat nem kezeljük tovább, kivéve, ha bizonyítjuk,
				hogy az adatkezelést olyan kényszerítő erejű jogos okok indokolják,
				amelyek elsőbbséget élveznek az Ön érdekeivel, jogaival és
				szabadságaival szemben, vagy amelyek jogi igények előterjesztéséhez,
				érvényesítéséhez vagy védelméhez kapcsolódnak.</p>
			<p>(2) Ha a személyes adatok kezelése közvetlen üzletszerzés
				érdekében történik, Ön jogosult arra, hogy bármikor tiltakozzon az
				Önre vonatkozó személyes adatok e célból történő kezelése ellen,
				ideértve a profilalkotást is, amennyiben az a közvetlen
				üzletszerzéshez kapcsolódik.</p>
			<p>(3) Ha Ön tiltakozik a személyes adatok közvetlen üzletszerzés
				érdekében történő kezelése ellen, akkor a személyes adatok a
				továbbiakban e célból nem kezelhetők.</p>
			<p>(4) Az információs társadalommal összefüggő szolgáltatások
				igénybevételéhez kapcsolódóan és a 2002/58/EK irányelvtől eltérve Ön
				a tiltakozáshoz való jogot műszaki előírásokon alapuló automatizált
				eszközökkel is gyakorolhatja.</p>
			<p>(5) Ha a személyes adatok kezelésére tudományos és történelmi
				kutatási célból vagy statisztikai célból kerül sor, Ön jogosult
				arra, hogy a saját helyzetével kapcsolatos okokból tiltakozhasson az
				Önre vonatkozó személyes adatok kezelése ellen, kivéve, ha az
				adatkezelésre közérdekű okból végzett feladat végrehajtása érdekében
				van szükség.</p>
			<p class="font-weight-bold">10.8 A felügyeleti hatóságnál történő
				panasztételhez való jog</p>
			<p>Ön jogosult arra, hogy panaszt tegyen egy felügyeleti
				hatóságnál – különösen a szokásos tartózkodási helye, a munkahelye
				vagy a feltételezett jogsértés helye szerinti tagállamban –, ha az
				Ön megítélése szerint az Önre vonatkozó személyes adatok kezelése
				megsérti a GDPR-t. Magyarországon az illetékes felügyeleti hatóság:
				Nemzeti Adatvédelmi és Információszabadság Hatóság (http://naih.hu/;
				1530 Budapest, Pf.: 5.; telefon: +36-1-391-1400; fax:
				+36-1-391-1410; e-mail: ugyfelszolgalat@naih.hu).</p>
			<p class="font-weight-bold">10.9 A felügyeleti hatósággal
				szembeni hatékony bírósági jogorvoslathoz való jog</p>
			<p>(1) Ön jogosult a hatékony bírósági jogorvoslatra a
				felügyeleti hatóság Önre vonatkozó, jogilag kötelező erejű
				döntésével szemben.</p>
			<p>(2) Ön jogosult a hatékony bírósági jogorvoslatra, ha az
				illetékes felügyeleti hatóság nem foglalkozik a panasszal, vagy
				három hónapon belül nem tájékoztatja Önt a benyújtott panasszal
				kapcsolatos eljárási fejleményekről vagy annak eredményéről.</p>
			<p>(3) A felügyeleti hatósággal szembeni eljárást a felügyeleti
				hatóság székhelye szerinti tagállam bírósága előtt kell megindítani.</p>
			<p class="font-weight-bold">10.10 Az adatkezelővel vagy az
				adatfeldolgozóval szembeni hatékony bírósági jogorvoslathoz való jog</p>
			<p>(1) Ön hatékony bírósági jogorvoslatra jogosult, ha megítélése
				szerint a személyes adatainak a GDPR-nak nem megfelelő kezelése
				következtében megsértették a GDPR szerinti jogait.</p>
			<p>(2) Az adatkezelővel vagy az adatfeldolgozóval szembeni
				eljárást az adatkezelő vagy az adatfeldolgozó tevékenységi helye
				szerinti tagállam bírósága előtt kell megindítani. Az ilyen eljárás
				megindítható az érintett szokásos tartózkodási helye szerinti
				tagállam bírósága előtt is.</p>

		</div>
	</section>
	<!-- Footer -->
	<footer class="jumbotron text-center" style="margin-bottom: 0">

		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-3">

			<!-- Grid row -->
			<div class="row mt-3 dark-grey-text">

				<!-- Grid column -->
				<div class="col-md mb-3">

					<!-- Content -->
					<h6 class="text-uppercase font-weight-bold">Dr. Daher Chakib
						Pierre</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>háziorvos</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md mx-auto mb-3">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Hasznos linkek</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a class="dark-grey-text" href="https://www.mentok.hu/">Országos
							Mentőszolgálat</a>
					</p>
					<p>
						<a class="dark-grey-text" href="http://szendrolad.hu/">Szendrőlád
							Község honlapja</a>
					</p>
					<p>
						<a class="dark-grey-text"
							href="https://www.eeszt.gov.hu/hu/nyito-oldal">EESZT
							Lakossági Portál</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md mx-auto mb-3">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Elérhetőség</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>Rendelési idő: Hétfő - Péntek 8:00 - 12:00</p>
					<p>3751 Szendrőlád, Fő utca 63.</p>
					<p>+36 48 469 670</p>


				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->
		<!-- Copyright -->
		<p class="text-center">
			<a class="nav-link" href="/privacyNotice">Adatvédelmi tájékoztató</a>
		</p>
		<div class="text-center text-black-50 py-3">Készítette: Német
			Viktor</div>

		<!-- Copyright -->
	</footer>
	<!-- Footer -->

</body>

</html>